<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/TodoAppMaui.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/TodoAppMaui.Shared/app.css" />
    <link rel="stylesheet" href="TodoAppMaui.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/TodoAppMaui.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css" />
</body>

</html>
